$font-stack:    Helvetica, sans-serif;
$primary-color: #F38630;
$bgc: 			#69D2E7;
$highlight-color: #F38630;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bgc;
}
a{
	color:$primary-color;
	text-decoration: none;	
}
.container{
	width:70%;
	margin:0 auto;
  	text-align: center;
}
.random-article{
}
.search-form{
	margin-top:5%;
}
.search-form{
	input[type=text]{
		width:350px;
		border:none;
		&:focus{
			outline:none;
		}
		font-size:2em;
	}
}
#submit-btn{
	margin-top:3%;
	border:0;
	width:90px;
	height:25px;
	color:#fff;
	&:focus{
		outline:none;
	}
	&:hover{
		color:#000;
		cursor:pointer;
	}
}
#article{
	text-align: left;
	background-color: #E0E4CC;
	padding:5px;
	min-height: 60px;
	color:black;
	
	&:hover{
		border-left: 5px solid $highlight-color;
	}
}